name: '${STACK_NAME:-stk-depl0y-001}'

networks:
  EXTERNAL:
    name: DEPL0Y-EXTERNAL
    driver: bridge
    internal: false
    attachable: true

  INTERNAL:
    name: DEPL0Y-INTERNAL
    driver: bridge
    internal: true
    attachable: true

services:
  Application:
    image: '${APPLICATION_IMAGENAME:-Agit8or/Depl0y}:${APPLICATION_IMAGEVERSION:-latest}'
    container_name: DEPL0Y-APP-001
    hostname: DEPL0Y-APP-001
    restart: unless-stopped
    stop_signal: SIGTERM
    stop_grace_period: 90s
    user: '${UID:-0}:${GID:-1000}'
    logging:
      driver: 'local'
    #env_file: '.env'
    environment:
      SECRET_KEY: '${SECRET_KEY:-changeme}'
      ENCRYPTION_KEY: '${ENCRYPTION_KEY:-changeme}'
      LOG_LEVEL: '${LOG_LEVEL:-INFO}'
      DATABASE_URL: '${DATABASE_URL:-sqlite:////var/lib/depl0y/db/depl0y.db}'
      ISO_STORAGE_PATH: '${ISO_STORAGE_PATH:-/var/lib/depl0y/isos}'
      UPLOAD_DIR: '${UPLOAD_DIR:-/var/lib/depl0y}'
      CLOUDINIT_TEMPLATE_PATH: '${CLOUDINIT_TEMPLATE_PATH:-/var/lib/depl0y/cloud-init}'
      SSH_KEY_PATH: '${SSH_KEY_PATH:-/var/lib/depl0y/ssh_keys}'
      LOG_FILE: '${LOG_FILE:-/var/log/depl0y/app.log}'
      FRONTEND_DIST_PATH: '${FRONTEND_DIST_PATH:-/opt/depl0y/frontend/dist}'
      APPLICATION_PORT_INTERNAL: '${APPLICATION_PORT_INTERNAL:-8080}'
      ADMIN_USERNAME: '${ADMIN_USERNAME:-admin}'
      ADMIN_PASSWORD: '${ADMIN_PASSWORD:-admin}'
    networks:
      INTERNAL:
      EXTERNAL:
    ports:
      - "${SERVICE_BIND_ADDRESS_EXTERNAL:-0.0.0.0}:${APPLICATION_PORT_EXTERNAL:-8080}:${APPLICATION_PORT_INTERNAL:-8080}"
    dns:
      - '${DNSSERVER:-127.0.0.53}'
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - "${STACK_BINDMOUNTROOT}/${STACK_NAME}/Application/Data:/var/lib/depl0y:rw"

